<div class="personal-message-wrapper text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="personal-message col-md-10 m-auto">
        <p class="text-center">
          Hi my name is <strong>{{user.name}}</strong>.<br>
          I was born on <strong>{{date.month}}/{{date.day}}/{{date.year}}</strong>.<br>
          I'm from <strong>{{user.city}} {{user.state}} {{user.country}}</strong>.<br>
          You can contact me at <strong><a href="mailto:{{user.email}}">{{user.email}}</a></strong> or <strong><a href="tel:+{{user.phone}}">+{{user.phone}}</a></strong>.
        </p>
      </div>
      <a routerLink="/Personal-detail">
        <button class="mt-3" mat-button>Back</button>
      </a>
    </div>
  </div>
</div>
